.item {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    vertical-align: text-bottom;
}

.item.item-noitem {
    background-image: url(./img/item/itm2_04_000_01.png)
}

.item.item-itm2_03_001_01 {
    background-image: url(./img/item/itm2_03_001_01.png)
}

.item.item-itm2_03_001_02 {
    background-image: url(./img/item/itm2_03_001_02.png)
}

.item.item-itm2_03_001_03 {
    background-image: url(./img/item/itm2_03_001_03.png)
}

.item.item-itm2_03_001_04 {
    background-image: url(./img/item/itm2_03_001_04.png)
}

.item.item-itm2_03_002_01 {
    background-image: url(./img/item/itm2_03_002_01.png)
}

.item.item-itm2_03_002_02 {
    background-image: url(./img/item/itm2_03_002_02.png)
}

.item.item-itm2_03_002_03 {
    background-image: url(./img/item/itm2_03_002_03.png)
}

.item.item-itm2_03_002_04 {
    background-image: url(./img/item/itm2_03_002_04.png)
}

.item.item-itm2_03_003_01 {
    background-image: url(./img/item/itm2_03_003_01.png)
}

.item.item-itm2_03_003_02 {
    background-image: url(./img/item/itm2_03_003_02.png)
}

.item.item-itm2_03_003_03 {
    background-image: url(./img/item/itm2_03_003_03.png)
}

.item.item-itm2_03_003_04 {
    background-image: url(./img/item/itm2_03_003_04.png)
}

.item.item-itm2_03_004_01 {
    background-image: url(./img/item/itm2_03_004_01.png)
}

.item.item-itm2_03_004_02 {
    background-image: url(./img/item/itm2_03_004_02.png)
}

.item.item-itm2_03_004_03 {
    background-image: url(./img/item/itm2_03_004_03.png)
}

.item.item-itm2_03_004_04 {
    background-image: url(./img/item/itm2_03_004_04.png)
}

.item.item-itm2_03_005_01 {
    background-image: url(./img/item/itm2_03_005_01.png)
}

.item.item-itm2_03_005_02 {
    background-image: url(./img/item/itm2_03_005_02.png)
}

.item.item-itm2_03_005_03 {
    background-image: url(./img/item/itm2_03_005_03.png)
}

.item.item-itm2_03_005_04 {
    background-image: url(./img/item/itm2_03_005_04.png)
}

.item.item-itm2_03_006_01 {
    background-image: url(./img/item/itm2_03_006_01.png)
}

.item.item-itm2_03_006_02 {
    background-image: url(./img/item/itm2_03_006_02.png)
}

.item.item-itm2_03_006_03 {
    background-image: url(./img/item/itm2_03_006_03.png)
}

.item.item-itm2_03_006_04 {
    background-image: url(./img/item/itm2_03_006_04.png)
}

.item.item-itm2_03_007_01 {
    background-image: url(./img/item/itm2_03_007_01.png)
}

.item.item-itm2_03_007_02 {
    background-image: url(./img/item/itm2_03_007_02.png)
}

.item.item-itm2_03_007_03 {
    background-image: url(./img/item/itm2_03_007_03.png)
}

.item.item-itm2_03_007_04 {
    background-image: url(./img/item/itm2_03_007_04.png)
}

.item.item-itm2_03_008_01 {
    background-image: url(./img/item/itm2_03_008_01.png)
}

.item.item-itm2_03_008_02 {
    background-image: url(./img/item/itm2_03_008_02.png)
}

.item.item-itm2_03_008_03 {
    background-image: url(./img/item/itm2_03_008_03.png)
}

.item.item-itm2_03_008_04 {
    background-image: url(./img/item/itm2_03_008_04.png)
}

.item.item-itm2_03_009_01 {
    background-image: url(./img/item/itm2_03_009_01.png)
}

.item.item-itm2_03_009_02 {
    background-image: url(./img/item/itm2_03_009_02.png)
}

.item.item-itm2_03_009_03 {
    background-image: url(./img/item/itm2_03_009_03.png)
}

.item.item-itm2_03_009_04 {
    background-image: url(./img/item/itm2_03_009_04.png)
}

.item.item-itm2_03_010_01 {
    background-image: url(./img/item/itm2_03_010_01.png)
}

.item.item-itm2_03_010_02 {
    background-image: url(./img/item/itm2_03_010_02.png)
}

.item.item-itm2_03_010_03 {
    background-image: url(./img/item/itm2_03_010_03.png)
}

.item.item-itm2_03_010_04 {
    background-image: url(./img/item/itm2_03_010_04.png)
}

.item.item-itm2_03_011_01 {
    background-image: url(./img/item/itm2_03_011_01.png)
}

.item.item-itm2_03_011_02 {
    background-image: url(./img/item/itm2_03_011_02.png)
}

.item.item-itm2_03_011_03 {
    background-image: url(./img/item/itm2_03_011_03.png)
}

.item.item-itm2_03_011_04 {
    background-image: url(./img/item/itm2_03_011_04.png)
}

.item.item-itm2_03_012_01 {
    background-image: url(./img/item/itm2_03_012_01.png)
}

.item.item-itm2_03_012_02 {
    background-image: url(./img/item/itm2_03_012_02.png)
}

.item.item-itm2_03_012_03 {
    background-image: url(./img/item/itm2_03_012_03.png)
}

.item.item-itm2_03_012_04 {
    background-image: url(./img/item/itm2_03_012_04.png)
}

.item.item-itm2_03_013_01 {
    background-image: url(./img/item/itm2_03_013_01.png)
}

.item.item-itm2_03_013_02 {
    background-image: url(./img/item/itm2_03_013_02.png)
}

.item.item-itm2_03_013_03 {
    background-image: url(./img/item/itm2_03_013_03.png)
}

.item.item-itm2_03_013_04 {
    background-image: url(./img/item/itm2_03_013_04.png)
}

.item.item-itm2_03_014_01 {
    background-image: url(./img/item/itm2_03_014_01.png)
}

.item.item-itm2_03_014_02 {
    background-image: url(./img/item/itm2_03_014_02.png)
}

.item.item-itm2_03_014_03 {
    background-image: url(./img/item/itm2_03_014_03.png)
}

.item.item-itm2_03_014_04 {
    background-image: url(./img/item/itm2_03_014_04.png)
}

.item.item-itm2_03_015_01 {
    background-image: url(./img/item/itm2_03_015_01.png)
}

.item.item-itm2_03_015_02 {
    background-image: url(./img/item/itm2_03_015_02.png)
}

.item.item-itm2_03_015_03 {
    background-image: url(./img/item/itm2_03_015_03.png)
}

.item.item-itm2_03_015_04 {
    background-image: url(./img/item/itm2_03_015_04.png)
}

.item.item-itm2_03_016_01 {
    background-image: url(./img/item/itm2_03_016_01.png)
}

.item.item-itm2_03_016_02 {
    background-image: url(./img/item/itm2_03_016_02.png)
}

.item.item-itm2_03_016_03 {
    background-image: url(./img/item/itm2_03_016_03.png)
}

.item.item-itm2_03_016_04 {
    background-image: url(./img/item/itm2_03_016_04.png)
}

.item.item-itm2_03_017_01 {
    background-image: url(./img/item/itm2_03_017_01.png)
}

.item.item-itm2_03_017_02 {
    background-image: url(./img/item/itm2_03_017_02.png)
}

.item.item-itm2_03_017_03 {
    background-image: url(./img/item/itm2_03_017_03.png)
}

.item.item-itm2_03_017_04 {
    background-image: url(./img/item/itm2_03_017_04.png)
}

.item.item-itm2_03_018_01 {
    background-image: url(./img/item/itm2_03_018_01.png)
}

.item.item-itm2_03_018_02 {
    background-image: url(./img/item/itm2_03_018_02.png)
}

.item.item-itm2_03_018_03 {
    background-image: url(./img/item/itm2_03_018_03.png)
}

.item.item-itm2_03_018_04 {
    background-image: url(./img/item/itm2_03_018_04.png)
}

.item.item-itm2_03_019_01 {
    background-image: url(./img/item/itm2_03_019_01.png)
}

.item.item-itm2_03_019_02 {
    background-image: url(./img/item/itm2_03_019_02.png)
}

.item.item-itm2_03_019_03 {
    background-image: url(./img/item/itm2_03_019_03.png)
}

.item.item-itm2_03_019_04 {
    background-image: url(./img/item/itm2_03_019_04.png)
}

.item.item-itm2_03_020_01 {
    background-image: url(./img/item/itm2_03_020_01.png)
}

.item.item-itm2_03_020_02 {
    background-image: url(./img/item/itm2_03_020_02.png)
}

.item.item-itm2_03_020_03 {
    background-image: url(./img/item/itm2_03_020_03.png)
}

.item.item-itm2_03_020_04 {
    background-image: url(./img/item/itm2_03_020_04.png)
}

.item.item-itm2_03_021_01 {
    background-image: url(./img/item/itm2_03_021_01.png)
}

.item.item-itm2_03_021_02 {
    background-image: url(./img/item/itm2_03_021_02.png)
}

.item.item-itm2_03_021_03 {
    background-image: url(./img/item/itm2_03_021_03.png)
}

.item.item-itm2_03_021_04 {
    background-image: url(./img/item/itm2_03_021_04.png)
}

.item.item-itm2_03_022_01 {
    background-image: url(./img/item/itm2_03_022_01.png)
}

.item.item-itm2_03_022_02 {
    background-image: url(./img/item/itm2_03_022_02.png)
}

.item.item-itm2_03_022_03 {
    background-image: url(./img/item/itm2_03_022_03.png)
}

.item.item-itm2_03_022_04 {
    background-image: url(./img/item/itm2_03_022_04.png)
}

.item.item-itm2_03_023_01 {
    background-image: url(./img/item/itm2_03_023_01.png)
}

.item.item-itm2_03_023_02 {
    background-image: url(./img/item/itm2_03_023_02.png)
}

.item.item-itm2_03_023_03 {
    background-image: url(./img/item/itm2_03_023_03.png)
}

.item.item-itm2_03_023_04 {
    background-image: url(./img/item/itm2_03_023_04.png)
}