body {
    font-family: -apple-system, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}

.main-container {
    padding-top: 56px;
}

.sidebar {
    z-index: 16;
    background: white;
    border-right: 1px solid rgba(0, 0, 0, 0.25);
}

@media (max-width: 768px) {
    .sidebar {
        position: absolute;
        border-right: none;
    }
}

@media (min-width: 768px) {
    .sidebar {
        height: 100%;
    }
}

.sidebar .map-info-container {
    min-height: 3rem;
    color: rgba(0, 0, 0, .5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    position: relative;
}

@media (min-width: 768px) {
    .sidebar .map-info-container {
        min-height: 7rem;
    }
}

.sidebar .sidebar-toggle {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
}

.sidebar .map-list-container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

@media (min-width: 768px) {
    .sidebar .map-list-container {
        height: calc(100% - 10.5rem);
        border-bottom: none;
    }
}

.sidebar .map-list-container>ul {
    overflow: auto;
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .sidebar .map-list-container>ul {
        height: 100%;
    }
}

.sidebar .map-list-container>ul>li {
    margin-top: 0.5rem;
}

.sidebar .map-list-container ul>li.active {
    font-weight: bold;
}

.sidebar .map-list-container ul>li a {
    color: rgba(0, 0, 0, .65);
    text-decoration: none;
    white-space: nowrap;
}

.sidebar .map-list-container ul>li a>.hex-info-count {
    display: inline-block;
    min-width: 2.5rem;
}

.sidebar .map-list-container ul>ul>li {
    margin: 0 0 0 0rem;
}

.sidebar .map-list-container ul>li.map-list-divider {
    background: rgba(0, 0, 0, 0.25);
    height: 1px;
}

#main {
    overflow: hidden;
    height: 100%;
    background-color: #eee;
}

.hex-table-container {
    -ms-touch-action: none;
    touch-action: none;
    display: inline-block;
    background-color: white;
}

.hex-table {
    padding: 5rem;
    border: none;
    border-collapse: separate;
    border-spacing: 0;
}

@media (min-width: 768px) {
    .hex-table {
        transition: transform 0.2s ease;
    }
}

.hex-table td {
    border-collapse: collapse;
    position: relative;
}

.hex-table td:nth-child(odd) .hex {
    top: 35.5px;
}

.hex {
    position: relative;
    /*fix hex under td*/
    z-index: 2;
    cursor: pointer;
}

.hex-tile {
    width: 108px;
    margin: -3px -16.5px;
}

.hex-tile>svg {}

.hex-tile>svg>polygon {
    stroke: #ccc;
    stroke-width: 3px;
    stroke-linejoin: round;
    fill: #fff;
}

.hex-danger .hex-tile>svg>polygon {
    stroke: #f00;
    stroke-width: 6px;
}

.hex-rare .hex-tile>svg>polygon {
    stroke: yellow;
    stroke-width: 6px;
}

.hex-content {
    text-align: center;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #212529;
}

.hex-content:hover {
    color: #212529;
    text-decoration: none;
}

.hex-content:focus {
    outline: none;
}

.hex-content * {
    pointer-events: none;
}

.hex-content .hex-area-count {
    position: absolute;
    right: 1rem;
    bottom: 0.25rem;
    font-size: 0.75rem;
}

/* hex info overlay */

.hex-detail {
    position: fixed;
    top: 56px;
    right: 0;
    z-index: 1024;
    background: linear-gradient(180deg, #000b, #000b 40%, #0004);
    color: #fff;
    width: 100%;
    height: 100%;
    cursor: default;
}

.hex-detail .list-group-item {
    background: transparent;
    border-color: #fff4;
}

.stage-container {
    display: inline-block;
    margin: 0 0.1rem;
    text-align: center;
    position: relative;
    vertical-align: top;
    cursor: pointer;
}

.stage-container:first-of-type {
    margin-left: 0.5rem;
}

.stage-container .stage-label {
    margin-left: -0.25rem;
    font-size: 0.75rem;
    text-align: left;
}

.stage-container.enemy {
    cursor: initial;
}

.stage-container.enemy .stage-label {
    margin-left: 0.5rem;
    width: 0;
    overflow: visible;
}

.stage-container.enemy .stage-label.stage-label-odd {
    padding-top: 1rem;
}

.stage-container .parallelogram {
    overflow: hidden;
    border-radius: 0.5rem;
    transform: skewX(10deg);
    width: 4rem;
    height: 5rem;
    border: 1px solid white;
}

.stage-container .parallelogram img {
    position: absolute;
    left: -0.5rem;
    width: 5rem;
    height: 5rem;
    transform: skewX(-10deg);
}

.stage-container .stage-enemy-list {
    padding-top: 2rem;
    width: 0;
    margin-left: -0.25rem;
    display: none;
}

.stage-container.enemy .parallelogram {
    margin-top: 2rem;
    margin-left: 0.25rem;
}

.stage-container.enemy+.stage-container.enemy .parallelogram {
    margin-left: 0;
}

.stage-container .attr-subscript {
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
    bottom: 0;
    right: 0;
}

.stage-container .attr-subscript.attr-normal {}

.stage-container .attr-subscript.attr-thunder {
    background: linear-gradient(-50deg, #fad558 14%, white 15%, transparent 16%);
}

.stage-container .attr-subscript.attr-gravity {
    background: linear-gradient(-50deg, #c485fd 14%, white 15%, transparent 16%);
}

.stage-container .attr-subscript.attr-fire {
    background: linear-gradient(-50deg, #fe8691 14%, white 15%, transparent 16%);
}

.stage-container .attr-subscript.attr-ice {
    background: linear-gradient(-50deg, #92e8fe 14%, white 15%, transparent 16%);
}

.stage-container .attr-subscript.attr-light {}

.stage-container .attr-subscript.attr-collapse {}

.stage-container .attr-subscript.attr-theory {}

/* icons */

.icon {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: bottom;
}

.icon.icon-2x {
    width: 3rem;
    height: 3rem;
}

.icon.icon-version {
    width: 2.5rem;
    height: 2.5rem;
    opacity: 0.5;
    vertical-align: middle;
    background-image: url(./img/version.png);
}

.icon.icon-murakumo {
    width: 2.5rem;
    height: 2.5rem;
    vertical-align: middle;
    background-image: url(./img/murakumo.png);
}

.icon.icon-chest {
    width: 1.25rem;
    height: 1.25rem;
    vertical-align: middle;
    background-image: url(./img/chest.png);
}

.icon.icon-endless {
    width: 1.25rem;
    height: 1.25rem;
    vertical-align: middle;
    background-image: url(./img/endless.png);
}

.icon.icon-battery {
    background-image: url(./img/itm3_01_008_01.png);
}

.icon.icon-gacha-point {
    background-image: url(./img/itm3_01_004_01.png);
}

.icon.icon-gold {
    background-image: url(./img/goldicon.png);
}

.icon.icon-energy {
    background-image: url(./img/energyicon.png);
}

/*power up & down*/

.icon.icon-PowUpEne {
    background-image: url(./img/frohexwinbuf_03_01.png);
}

.icon.icon-PowUpAct {
    background-image: url(./img/frohexwinbuf_02_01.png);
}

.icon.icon-PowUpRwd {
    background-image: url(./img/frohexwinbuf_04_01.png);
}

.icon.icon-PowDwnEne {
    background-image: url(./img/frohexwinbuf_03_02.png);
}

.icon.icon-PowDwnAct {
    background-image: url(./img/frohexwinbuf_02_02.png);
}

.icon.icon-PowDwnRwd {
    background-image: url(./img/frohexwinbuf_04_02.png);
}

.icon.icon-key {
    width: 1.25rem;
    height: 1.25rem;
    vertical-align: middle;
}

.icon.icon-key-01-01 {
    background-image: url(./img/frokey_01_01.png);
}

.icon.icon-key-01-02 {
    background-image: url(./img/frokey_01_02.png);
}

.icon.icon-key-01-03 {
    background-image: url(./img/frokey_01_03.png);
}

.icon.icon-key-01-04 {
    background-image: url(./img/frokey_01_04.png);
}

.icon.icon-key-01-05 {
    background-image: url(./img/frokey_01_05.png);
}

.icon.icon-key-01-06 {
    background-image: url(./img/frokey_01_06.png);
}

.icon.icon-item {
    width: 3rem;
    height: 3rem;
}

.icon.icon-hex {
    width: auto;
    font-style: normal;
    color: #ccc;
}

.icon.icon-hex::before {
    content: '⬣';
}

.icon.icon-hex.icon-hex-rare {
    color: yellow;
}

.icon.icon-hex.icon-hex-danger {
    color: red;
}

.item-container {
    display: inline-block;
    margin: 0 0.5rem;
    text-align: center;
    position: relative;
}

.item-container .item-count {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 0.25rem;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    color: #000;
    font-size: 0.9rem;
}