html {
    height: 100%;
}

body {
    font-family: -apple-system, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
    height: 100%;
}

.panel-heading {
    cursor: pointer;
}

#main {
    height: calc(100% - 56px);
    overflow: auto;
}

.hex-table {
    margin: 10px 40px;
}

.hex-table td {
    border-collapse: collapse;
    position: relative;
}

.hex-table td:nth-child(odd) .hex {
    top: 32px;
}

.hex {
    position: relative;
    /*fix hex under td*/
    z-index: 2;
}

.hex-tile {
    width: 45px;
    background: #fff;
    height: 60px;
    position: relative;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    margin: 1px 15px;
}

.hex-tile-inner {
    height: 58px;
    position: relative;
}

.hex-tile-inner:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    width: 3px;
    background: #ccc;
    -webkit-transform: skew(45deg, 0deg);
    -moz-transform: skew(45deg, 0deg);
    -ms-transform: skew(45deg, 0deg);
    -o-transform: skew(45deg, 0deg);
    transform: skew(-45deg, 0deg);
}

.hex-tile-inner:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 50%;
    width: 3px;
    background: #ccc;
    -webkit-transform: skew(-135deg, 0deg);
    -moz-transform: skew(-135deg, 0deg);
    -ms-transform: skew(-135deg, 0deg);
    -o-transform: skew(-135deg, 0deg);
    transform: skew(-135deg, 0deg);
}

.hex-tile-inner.left {
    margin-left: -15px;
    margin-top: -1px;
    float: left;
}

.hex-tile-inner.right {
    transform: rotate(180deg);
    float: right;
    margin-right: -15px;
    margin-top: -1px;
}

.hex-content {
    text-align: center;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #212529;
}

.hex-content:hover {
    color: #212529;
    text-decoration: none;
}

.hex-content:focus {
    outline: none;
}

.hex-content * {
    pointer-events: none;
}

.hex-danger .hex-tile {
    border-color: #f00;
}

.hex-danger .hex-tile .hex-tile-inner:before, .hex-danger .hex-tile .hex-tile-inner:after {
    background-color: #f00;
}

.hex-rare .hex-tile {
    border-color: yellow;
}

.hex-rare .hex-tile .hex-tile-inner:before, .hex-rare .hex-tile .hex-tile-inner:after {
    background-color: yellow;
}

/* icons */

.icon {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: bottom;
}

.icon.icon-2x {
    width: 3rem;
    height: 3rem;
}

.icon.icon-chest {
    width: 1rem;
    height: 1rem;
    background-image: url(./img/chest.png);
}

.icon.icon-battery {
    background-image: url(./img/itm3_01_008_01.png);
}

.icon.icon-gacha-point {
    background-image: url(./img/itm3_01_004_01.png);
}

.icon.icon-gold {
    background-image: url(./img/goldicon.png);
}

.icon.icon-energy {
    background-image: url(./img/energyicon.png);
}

/*power up & down*/

.icon.icon-PowUpEne {
    background-image: url(./img/frohexwinbuf_03_01.png);
}

.icon.icon-PowUpAct {
    background-image: url(./img/frohexwinbuf_02_01.png);
}

.icon.icon-PowUpRwd {
    background-image: url(./img/frohexwinbuf_04_01.png);
}

.icon.icon-PowDwnEne {
    background-image: url(./img/frohexwinbuf_03_02.png);
}

.icon.icon-PowDwnAct {
    background-image: url(./img/frohexwinbuf_02_02.png);
}

.icon.icon-PowDwnRwd {
    background-image: url(./img/frohexwinbuf_04_02.png);
}

.icon.icon-item {
    width: 3rem;
    height: 3rem;
}

.item-container {
    display: inline-block;
    margin: 0 0.5rem;
    text-align: center;
    position: relative;
}

.item-container .item-count {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 0.25rem;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.mapinfo-container {
    float: right;
    z-index: 10;
    color: rgba(0, 0, 0, .5);
    text-align: right;
}